.main{
    /* background-color: hsl(223, 11%, 87%); */
    /* height: 100vh; */
    position: relative;
   
}
.main-title{
    position: relative;
    padding: 0 60px;
    /* position: relative; */
}
.main-title>p{
    font-size:170px;
    margin: 0 0;
    /* font-family: 'Montserrat'; */
    font-weight: 700
} 

.heading-left{
    font-weight: 700;
    font-size: 70px;
    margin: 0px;
    height: 80px;
    text-transform: uppercase ;
}

