.slideout-anim-wrap {
  height: 60px;
  font: normal normal 700 1em/4em Arial,sans-serif;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  margin-bottom: 1.1em;
  border-radius: 35px;
  text-transform: uppercase;
  margin-top: 18px;
  padding: 0px 18px;
}
.slideout-anim-wrap, 
.slide-anim-text {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s ease-in;       
}
.slideout-anim-wrap span {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}
.slideout-anim-wrap:hover 
.slide-anim-text{
  margin-top: -4em;
}
.blue{
  background-color: #ff3600;	
}