.container{
   perspective: 800px;
   display: flex;
   align-items: center;
   justify-content: center;

}
.box{
   position: relative;
   height: 150px;
   width: 350px;
   transform-style: preserve-3d;
   transition: 0.4s ease;
}
.box :hover{
   transform: rotateX(90deg);
}
.btn{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: black;
   color: #fff; 
   font-size: 3rem;
   font-weight: 800;
   display: flex;
   align-items: center;
   justify-content: center;
   backface-visibility: hidden;
   letter-spacing: 3px;
}
.upside{
   background-color: aqua;
   transform: rotateX(-90deg) translateZ(75px);
}
.front{
   transform: translateZ(75px);
}