/* components/VerticalSliderButton.module.css */
.button {
   position: relative;
   padding: 10px 20px;
   background-color: #3490dc;
   color: #ffffff;
   border: none;
   cursor: pointer;
   overflow: hidden;
   transition: background-color 0.3s ease-in-out;
 }
 
 .text {
   position: relative;
   z-index: 2;
   transition: transform 0.3s ease-in-out;
 }
 
 .button:hover {
   background-color: #276595; /* Adjust the color on hover */
 }
 
 .button:hover .text {
   transform: translateY(-100%);
 }
 @keyframes slide-vertical {
   0% {
     transform: translateY(0);
   }
   50% {
     transform: translateY(-10px);
   }
   100% {
     transform: translateY(0);
   }
 }
 
 .slide-vertical {
   animation: slide-vertical 0.5s ease-in-out infinite;
 }
 