@tailwind base;
@tailwind components;
@tailwind utilities;


 


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.number-circle{
  width: 60px;
  height: 60px;
  background-color: #FF3600; 
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.heading-left{
 line-height: 3.5rem;
  
}
.text-height{
    line-height: 8rem;
}
.active {
  color: #FF3600;


}
@media (max-width: 640px) {
  
  .text-height{
    line-height: 4rem;
  }
  .heading-left{
    line-height: 2rem;
     
   }
  .number-circle{
    font-size: 18px;
    width: 60px;
    height: 60px;
    
  }
}
@media (max-width: 1024px){
  .heading-left{
    font-size: 3.5rem;
    line-height: 3rem;
    
    
  }
}
