@tailwind base;
@tailwind components;
@tailwind utilities;


 


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.number-circle{
  width: 10%;
  height: 25%;
  background-color: #FF3600; 
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.left-heading__banner{
  background-color: hsl(223, 11%, 87%);
  margin-top: 36px;
  border-bottom: 10px solid;
  display: flex;
  justify-content: end;
  padding: 20px;
  gap: 20px;
  position: relative;

}
.left-heading__banner-inner{
    width: 50%;
    padding-right: 140px;
    position: relative;
  
}
.heading-left{
  font-weight: 700;
  line-height: 4rem;
  font-size: 72px;
  text-transform: uppercase ;
  padding: 12px 0px;
  
}
.text-height{
    line-height: 9.5rem;
}
@media (max-width: 640px) {
  .left-heading__banner-inner{
    width: 100%;
    padding-right:0px;
  }
  .text-height{
    line-height: 4rem;
  }
  .left-heading__banner{
    justify-content: center;
  }
  .heading-left{
    font-size: 44px;
    line-height: 4rem;
  }
  .number-circle{
    font-size: 18px;
    
  }
}
