@tailwind base;
@tailwind components;
@tailwind utilities;





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.number-circle{
  width: 60px;
  height: 60px;
  background-color: #FF3600;
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}